/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.flex-100 {
  display: flex;
  width: 100%;
}
.aButton {
  text-decoration: none;
  border-radius: 5px;
  padding: 7px;
  background: #666666;
  color: white;
  width: 20%;
  text-align: center;
}
.aButtonHover {
  color: #666666;
  background: white;
}
.container {
  width: 85%;
  margin: 0 auto;
  font-family: helvetica, arial, sans-serif;
  font-size: 1rem;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.3rem;
}
p {
  font-size: 1rem;
}
nav {
  display: flex;
  width: 100%;
  margin: 15px 0;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
nav a {
  margin-left: 15px;
  text-decoration: none;
  color: #333333;
}
header {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  background: #cccccc;
}
header .mainImage {
  margin: 30px 0 10px 20px;
  width: 25%;
}
header h1 {
  font-family: 'Gugi', cursive;
  font-size: 2rem;
  margin-left: 20px;
}
header h3 {
  margin: 10px 0 20px 20px;
}
header p {
  margin: 0 20px 10px 20px;
  padding-top: 20px;
  border-top: 1px solid #333333;
}
header a {
  text-decoration: none;
  border-radius: 5px;
  padding: 7px;
  background: #666666;
  color: white;
  width: 20%;
  text-align: center;
  margin: 10px 0 20px 20px;
}
header a:hover {
  color: #666666;
  background: white;
}
.description {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  margin: 20px 0;
}
@media (max-width: 500px) {
  .description {
    flex-flow: column nowrap;
  }
}
.description h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #333333;
  margin-bottom: 10px;
  width: 80%;
}
.description p {
  margin: 5px 0;
}
.description .summary {
  width: 49%;
}
@media (max-width: 500px) {
  .description .summary {
    width: 80%;
    margin-bottom: 20px;
  }
}
.description .skills {
  width: 49%;
}
@media (max-width: 500px) {
  .description .skills {
    width: 80%;
  }
}
section h2 {
  margin-bottom: 5px;
}
.workItem {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  padding: 5px;
  border-top: 1px solid #666666;
}
.workItem .yrs {
  width: 8%;
}
.workItem .company {
  width: 25%;
}
.workItem .title {
  width: 35%;
}
.workItem .tech {
  width: 30%;
}
.workItemTitle {
  font-weight: bolder;
}
footer {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background: #666666;
}
